body{
    margin:0;
    font-family:Arial;
}

/* DARK MODE REAL */
.dark{
    background:#000;
    color:#fff;
}

.container{
    display:flex;
    height:100vh;
}

/* SIDEBAR */
.sidebar{
    width:230px;
    background:#000;
    padding:20px;
    display:flex;
    flex-direction:column;
}

.sidebar button{
    margin:5px 0;
    padding:10px;
    background:#111;
    color:#fff;
    border:none;
    cursor:pointer;
}

.sidebar button:hover{
    background:#333;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

/* MAIN */
main{
    flex:1;
    padding:20px;
}

.hidden{
    display:none;
}

/* CARDS */
.card{
    background:#1c1c1c;
    padding:15px;
    margin:10px;
    border-radius:10px;
}

/* TAREFA */
.tarefa{
    background:#222;
    padding:12px;
    margin:8px 0;
    border-radius:8px;
}

/* KPIS */
.kpis{
    display:flex;
}

/* INTELIGENTE */
.inteligente{
    border:2px solid #00ff88;
}

.alerta{
    background:#3b0000;
    color:#ff4d4d;
}

.sucesso{
    background:#002b1a;
    color:#00ff88;
}